p {
    color:rgb(208, 255, 0);
    text-align: center;
}

h1{
    color: blueviolet;
}

h2{
    color:darkgreen
}


Referencia a varios parrafos o titulares

p,h1{
    color:cyan
}

h1{
    background-color:coral;
}
#TITULO{
background-color: chartreuse;
}